.vs/CalculatorMVVM/v15/.suo
CalculatorMVVM/obj/Debug/CalculatorMVVM.csproj.FileListAbsolute.txt
CalculatorMVVM/obj/Debug/CalculatorMVVM.csprojAssemblyReference.cache
.vs/CalculatorMVVM/v15/Server/sqlite3/storage.ide-shm
.vs/CalculatorMVVM/v15/Server/sqlite3/storage.ide-wal
